body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    overflow-x: hidden;
    font-weight: bold;
    background-image: url('https://i.pinimg.com/564x/13/7b/54/137b540a18c16c296b995a908ef6bb1c.jpg');
    color: white;
    scrollbar-width: 5px;
    scrollbar-color: #1ac004e1 transparent;
}

body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 15px rgba(128, 128, 128, 0);
    border-radius: 10px;
}

body::-webkit-scrollbar-thumb {
    background: #1ac004e1;
    border-radius: 10px;
}

body::-webkit-scrollbar-thumb:hover {
    background: #1ffa02;
}

img {
    width: 150px;
    height: 150px;
    margin: 15px;
}

main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0 auto;
    background-color: rgba(63, 56, 56, 0.822);
    padding: 15px 50px;
    border-radius: 10px;
}

section {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    width: 100vw;
    min-height: 100vh;
}

button {
    font-weight: bold;
    width: 100px;
    height: 40px;
    border-radius: 15px;
    border: 1px solid white;
    background-color: #6deb68;
    cursor: pointer;
}

button:hover {
    background-color: #7fff00;
    transition: 0.5s;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

div {
    border: rgba(0, 0, 0, 0.685);
    padding: 15px;
}

#rodape {
    background-color: rgba(63, 56, 56, 0.822);
    display: inline-block;
    border-radius: 15px;
}

a{
    text-decoration: none;
    color: #ffffff;
}

a:hover{
    color: #7fff00;
}